.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-name {
    font-size: 14px;
    font-family: 'MyRestaurantFont';
    font-weight: bold;
    color: var(--text-color);
    padding: 4px 8px;
    background-color: var(--card-bg);
    border-radius: 12px;
    border: 2px solid var(--border-color);
}

.logout-button {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid var(--border-color);
    background-color: var(--card-bg);
    color: var(--text-color);
    transition: all 0.3s ease;
    font-size: 14px;
    font-family: 'MyRestaurantFont';
    font-weight: bold;
}

.logout-button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}